<% provide(:title, 'Logout') %>
<!DOCTYPE html>
<html>
<head>
</head>
  <%= render 'shared/header' %>
  <body>
    <h1>Logout</h1>
    <div class='container'>
      <p>
        You have logged out of Joepardy. Come play with us again soon!
      </p>
    </div>
    <% end %>
  </body>
</html>
